/* Map container */
#map-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width:1200px;
    padding-left:0px;
    margin: auto;
}
#map-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display:block;
}

#map-container .heading {
    text-align: center;
    color: #f0eaea;
    font-weight: bold;
}
#map-container .subheading {
    text-align: center;
    color: #f6f2f2;
    font-weight: bold; /* Adds space below the heading */
}
/* The circle representing a country on the map */
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer; 
    transform: translate(-50%, -50%);
}

/* Styling for the information box */
#info-box {
    display: none;
    transition: opacity 0.3s ease;
    top:50%;
}

#info-box.visible {
    display: block;
    opacity: 1;
    overflow-y: auto; /* Allow scrolling if content is too long */
    max-height: 70vh;  /* Restrict the max height of the box */
}

/* Ensures that the text inside the box respects line breaks */
#info-box div {
    white-space: pre-line;  /* This makes sure the newlines are respected */
}

/* Hide button styling */
.hide-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.hide-button:hover {
    background-color: #c9302c;
}
